
<div> <p>There are <%= @atm.name %> Capital One ATMs within 50 miles of your address (<%= @atm.hours %>)!</p></div>





<%= form_for(@atm) do |f| %>
  <% if @atm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atm.errors.count, "error") %> prohibited this atm from being saved:</h2>

      <ul>
      <% @atm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="actions">
    <%= f.submit "Update Address" %>
  </div>
<% end %>
