<p id="notice"><%= notice %></p>

<h1>Listing Transfer Requests</h1>

<table>
  <thead>
    <tr>
      <th>Medium</th>
      <th>Payee</th>
      <th>Amount</th>
      <th>Transaction date</th>
      <th>Status</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfer_requests.each do |transfer_request| %>
      <tr>
        <td><%= transfer_request.medium %></td>
        <td><%= transfer_request.payee_id %></td>
        <td><%= transfer_request.amount %></td>
        <td><%= transfer_request.transaction_date %></td>
        <td><%= transfer_request.status %></td>
        <td><%= transfer_request.description %></td>
        <td><%= link_to 'Show', transfer_request %></td>
        <td><%= link_to 'Edit', edit_transfer_request_path(transfer_request) %></td>
        <td><%= link_to 'Destroy', transfer_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer request', new_transfer_request_path %>
