<% if @transfers_array.length > 0 %>

<table>
  <thead>
    <tr>
      <th>Payee ID</th>
      <th>Amount</th>
      <th>Transaction Date</th>
      <th>Status</th>     
      <th>Description</th>
      <th>Payer ID</th>      
      </tr>
  </thead>
  <tbody>
<% for n in 0..(@transfers_array[0].length - 1) do %>
  <tr>
  <td><%= @transfers_array[0][n]["payee_id"] %></td>
  <td><%= @transfers_array[0][n]["amount"].to_s %></td>
  <td><%= @transfers_array[0][n]["transaction_date"] %></td>
  <td><%= @transfers_array[0][n]["status"] %></td>
  <td><%= @transfers_array[0][n]["description"] %></td>
  <td><%= @transfers_array[0][n]["payer_id"] %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<% else %>

<p>You have no transfers</p>

<% end %>


<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  </div>
  <div class="field">
    <%= f.label :medium %><br>
    <%= f.select :medium, ["balance","rewards"] %>
  </div>

  <div class="field">
    <%= f.label :payer_id %><br>
    <%= f.select :payer_id, @select_account %>
  </div>
  <div class="field">
    <%= f.label :payee_id %><br>
    <%= f.select :payee_id, @all_accts %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit "Create Transfer" %>
  </div>
<% end %>
