<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @transfer.uid %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transfer.the_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transfer.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transfer.status %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @transfer.medium %>
</p>

<p>
  <strong>Payer:</strong>
  <%= @transfer.payer_id %>
</p>

<p>
  <strong>Payee:</strong>
  <%= @transfer.payee_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transfer.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transfer.description %>
</p>

<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
