<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @account.uid %>
</p>

<p>
  <strong>Type:</strong>
  <%= @account.the_type %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @account.nickname %>
</p>

<p>
  <strong>Rewards:</strong>
  <%= @account.rewards %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @account.account_number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @account.customer_id %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
